@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.content {
    min-height: 100%;
    position: relative;
}

/*header*/

nav, footer {
    color:  #343a40;
    background-color: #f3e9f1;
}
nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-shopping-cart {
    font-size: 5em;
    background-image: linear-gradient(to right, #e68a09,#8f5bfe) ;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 5px 0 5px;
}
.nav-left {
    display: flex;
    flex-direction: column;
}
.title-site {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 3em;
    margin: 0;
}
.subtitle {
    font-size: 1em;
    margin: 0;
}
.nav-right > ul {
    display: flex;
    font-weight: 600;
    flex-direction: row;
    justify-content: space-between;
} 
ul a {
    color:  #343a40;
}
#add-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
#add-basket a {
    font-size: 1.4em;
    font-weight: 700;
}
#add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #f3e9f1;
    font-size: 0.9em;
    font-weight: 700;
    background-color: #e68a09;
    border-radius: 100%;
}
.toggle-button {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    cursor: pointer;
    display: none;
}
.toggle-button span {
    height: 3px;
    background-color: #8f5bfe;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}
.toggle-button span:before {
    content: "";
    height: 3px;
    background-color: #8f5bfe;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
.toggle-button span:after {
    content: "";
    height: 3px;
    background-color: #8f5bfe;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}
/*navigator*/
.menu {
    position: relative;
    flex-direction: column;
    text-align: center;
    float: right;
    height: 400px;
    background-color: #8f5bfe;
    border-radius: 12px;
    width: 200px; 
    display: none;
}
.menu a {
    display: block;
    margin-top: 35px;
    color: #f3e9f1;
}
.little-nav {
    margin-right: -200px;
    transition-duration: 0.2s;
}
.little-nav-open {
    margin: 0;
    transition-duration: 0.2s;
}
/*sur toutes les pages*/

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
    margin-right: 20px;
    font-size: 1.2em;
}
.button-style {
    font-size: 1.2em;
    padding: 10px 10px;
    color: #f3e9f1;
    background-color: #8f5bfe;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #8f5bfe9f;
    cursor: pointer;
    outline: none;
}
.button-style:hover {
    transform: translate();
    box-shadow: 0 3px #8f5bfe9f;
}
.button-style:active {
    transform: translate();
    box-shadow: 0 1px #8f5bfe9f;
}
/*index*/
.home-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 100;
    height: 300px;
}
.image {
    border: 1px solid black;
    margin: 0 20px 20px 0;
    width: 450px;
	height: 300px;
}
/*produit*/
.product-section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
.product {
    width: 600px;
    height: auto;
}
/*panier*/
.panier-section {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
    border: 2px solid black;
}
.panier {
    height: 200px;
}
.form-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px 0 20px;
    border: 2px solid black;
    padding: 10px;
}
.form input {
    display: block;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}
.form input:focus {
    border: 1px solid grey;
    box-shadow: 3px 3px #e68a09;
}
.message-security {
    display: flex;
    flex-direction: row;
}
#security {
    margin-left: 10px;
}
.message-erreur {
    color: red;
    width: 400px;
    height: 20px;
}
/*commande*/
.commande-section {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.ordered {
    width: 700px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
}
.ordered-button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
/*footer*/
footer {
    position: fixed;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    left: 0px;
}
/*media queries*/
@media screen and (max-width: 1090px) {
    .nav-right {
        display: none; 
    }
    .toggle-button {
        display: block;
    }
    .menu {
        display: block;
        position: absolute;
        right: 0;
  }
}
@media screen and (max-width: 500px) {
    .title-site {
        font-size: 2em;
    }
    .subtitle {
        font-size: 0.8em;
    }
    footer {
        font-size: 0.8em;
    }
    .fa-shopping-cart {
        font-size: 3em;
    }
}